exportPattern("^[^.][[:alpha:]]+")
import(xtable)
import(ggplot2)
import(scales)
import(utils)
import(brew)
import(digest)
import(testthat)
importFrom("grDevices", "dev.off", "jpeg", "postscript")
importFrom("graphics", "lines", "plot")
importFrom("stats", "aggregate", "lowess", "na.omit", "quantile","reorder")
importFrom("fs","is_absolute_path")
