config.projectName="Client/Project"
config.documentName="Subproject/Issue"
config.generatePercentileRankings = TRUE
config.generateTransactionDetails = TRUE
config.generateDiagnosticPlots = TRUE
config.generateGraphForTimeOver = 1000
config.generateServerSessionStats=TRUE
config.readBaseline=TRUE
#

#config.current.dataDir="."
#
# following line accesses the sample log file in the package 
#
config.current.dataDir=dirname(system.file("extdata", "compressed.log", package = "WebAnalytics"))
config.current.dirNames=c(".")
#config.current.dirNames=c("data")
#config.current.columnList=c("Apache", "elapsedus", jsessionid")
# use the following to read IIS logs with embedded comments that describe the file content - only the first record format comment in a file will be recognised
config.current.columnList=logFileFieldsGetIIS(logFileNamesGetLast(dataDirectory=config.current.dataDir,directoryNames=config.current.dirNames)[[1]])
#
#config.baseline.dataDir="."
config.baseline.dataDir=dirname(system.file("extdata", "compressed.log", package = "WebAnalytics"))
config.baseline.dirNames=c(".")
#
#config.baseline.columnList=c("Apache", "elapsedus", jsessionid")
# the following is for logs with a trailing jsessionid cookie content
config.baseline.columnList=config.current.columnList
#
config.fix.data<-function(b) {

	if(length(grep("Apache", config.current.columnList)) > 0){
		# Apache URL contains operation and HTTP version in a quoted string, IIS does not
		b$url = sub("([^?]*)[?].*", "\\1", b$url)
		b$url = sub("[^ ]* ([^ ]*).*", "\\1", b$url)
	}
	#b$url = sub("/Restaurant/[0-9]+/", "/Restaurant/NNNN/", b$url)
	b$url = sub("/content/.*", "Static Content Requests", b$url)
	b$url = sub("/Content/.*", "Static Content Requests", b$url)
	b$url = sub("/Scripts/.*", "Static Content Requests", b$url)
	b$url = sub("/bundles/.*", "Static Content Requests", b$url)
	b$url = sub("[0-9]+$", "NNNN", b$url)
	b$url = sub(".*\\.js$", "Static Content Requests", b$url)
	b$url = sub(".*\\.gif$", "Static Content Requests", b$url)
	b$url = sub(".*\\.css$", "Static Content Requests", b$url)
	b$url = sub(".*\\.jpg$", "Static Content Requests", b$url)
	b$url = sub(".*\\.png$", "Static Content Requests", b$url)
	b$url = sub(".*\\.ico$", "Static Content Requests", b$url)
	b$url = sub(".*\\.wsdl$", "Static Content Requests", b$url)
	b$url = sub(".*\\.xsd$", "Static Content Requests", b$url)
	b$url = sub(".*\\.bmp$", "Static Content Requests", b$url)
	b$url = sub(".*\\.html$", "Static Content Requests", b$url)
	b$url = sub(".*dynaTraceMonitor.*","Monitoring", b$url)
	#b = b[b$url != "/jlink/userprof/authentication.do" & b$url != "/jlink/userprof/location.do" & b$url != "/jlink/js/confirm.html" & b$url != "/jlink/security/logout.do" & b$url != "/jlink/mainpage.do",] 
	#b = b[b$elapsed > 1000 & b$elapsed < 5000,]

	return(b)
}
